*.MF
simple-project/target/classes/META-INF/MANIFEST.MF
simple-project/target/classes/META-INF/maven/com.adrian.experiments.simple/simple-project/pom.properties
simple-project/target/classes/META-INF/MANIFEST.MF
simple-project/target/classes/META-INF/maven/com.adrian.experiments.simple/simple-project/pom.properties
simple-project/.project